.amerika
{
    text-align:center;
    font-size:16px;
	font-family:"Cambria";
	color:#1c0f45;

}
.lead
{
 color:rgb(44, 38, 38);
}
.amerika1
{
	text-align:center;
    font-size:16px;
	font-family:"Gill Sans", Helvetica, Arial, sans-serif;
	color:#ff3030;
}
.amerika2
{
	text-align:center;
    font-size:14px;
	font-family:"Gill Sans", Helvetica, Arial, sans-serif;
	color:#778899;
}
.fizikiy
{
	text-align:center;
	color:#97ffff;
}
.media-heading
{
	text-align:center;
	font-size:16;
	color:#ff6a6a
}

